pkgbase = nirimod-ru-git
pkgname = nirimod-ru-git
pkgrel = 1
pkgdesc = Russian-translated fork of nirimod - A polished GTK4/libadwaita GUI configurator for the niri Wayland compositor
arch = x86_64
url = https://github.com/y-tretyakov/nirimod-ru
license = MIT
makedepends = git
makedepends = python-build
makedepends = python-installer
makedepends = python-hatchling
makedepends = python-wheel
makedepends = python-packaging
depends = python-gobject
depends = gtk4
depends = libadwaita
depends = python-cairo
provides = nirimod
conflicts = nirimod
conflicts = nirimod-git
source = nirimod-ru-git::git+https://github.com/y-tretyakov/nirimod-ru.git
sha256sums = SKIP
